* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.bg-startsite {
  background-image: url("./assets/sunny.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
header {
  padding: 20px 10px;
}
h1 {
  color: #394434;
  font-size: 35px;
  text-align: center;
  margin: 50px 0;
  font-weight: unset;
}
.form-section {
  padding: 20px 10px;
}
h2 {
  font-weight: unset;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}
form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
form input {
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  background-color: transparent;
  border: 1px solid #fff;
}
.search-form input::placeholder {
  color: #fff;
}
.form-section input {
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  background-color: transparent;
  border: 1px solid #fff;
}
.form-section input::placeholder {
  color: rgba(255, 255, 255, 0.661);
}
form button {
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  border: 1px solid #fff;
  color: orange;
  cursor: pointer;
}
button {
  transition: all 500ms ease-in-out;
}
button:hover {
  transform: scale(1.1);
}
.submit-text {
  font-size: 20px;
  margin-top: 10px;
}
.maincontent {
  height: 100vh;
  overflow: hidden;
}
.display-weather {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.left-part {
  width: 70%;
  height: 100vh;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.leftpart-greeting {
  font-size: 40px;
  padding: 20px;
  text-align: center;
  margin: 30px 0;
  color: #333333;
}
.leftpart-weatherinfo {
  /* background-color: #ffa50061; */
  background: linear-gradient(
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.7)
  );
  color: #333333;
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
}
.leftpart-weatherinfo h2 {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}
.leftpart-weatherinfo-detail {
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  line-height: 2;
}
.leftpart-weatherinfo-detail .city {
  font-size: 40px;
  font-weight: bold;
  color: #333333;
}
.leftpart-weatherinfo-detail .city::first-letter {
  font-size: 2em;
  color: #333333;
}
.leftpart-weatherinfo-detail .temperature {
  font-size: 2em;
}
.leftpart-weatherinfo-detail .weather-condition {
  font-size: 25px;
  font-weight: bold;
}
.right-part {
  float: right;
  width: 30%;
  height: 100vh;
  background-color: rgb(124 121 121 / 30%);
  backdrop-filter: blur(3px);
}
.right-section-title {
  font-size: 40px;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
  color: #fff;
}
.search-section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.search-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.city-field {
  font-size: 30px;
}
.search-button {
  font-size: 20px;
  cursor: pointer;
}
.icon {
  position: sticky;
  left: 0;
}
.bottom-searchsection {
  width: 100px;
  height: 50px;
  font-size: 20px;
  border-radius: 10px;
  margin-top: 40px;
  border: none;
  color: orange;
  cursor: pointer;
}

.search-history {
  color: #fff;
  text-align: left;
  font-size: 20px;
}

.search-history h3 {
font-size: 35px;
color: #fff;
}

.search-history ul {
  list-style: none;
}

.search-history li {
  background-color: #bbbfba91;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  list-style: none;
}

.search-history li:hover {
  transform: scale(1.2);
  background-color: #CBCBCB;
  border-radius: 10px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .left-part,
  .right-part {
    width: 100%;
    height: auto;
    order: unset;
    transition: all 2s ease-in-out;
  }
  .left-part {
    order: 2;
    height: 70vh;
  }
  .right-part {
    order: 1;
    height: 30vh;
  }
  .right-section-title {
    font-size: 25px;
  }
  .search-section {
    padding: 10px;
  }
  .city-field {
    font-size: 20px;
    margin-right: 10px;
  }
  .search-button {
    font-size: 18px;
  }
  .bottom-searchsection {
    font-size: 18px;
  }
  .leftpart-greeting {
    font-size: 30px;
    color: #333333;
  }
  .leftpart-weatherinfo h2 {
    font-size: 25px;
  }
  .leftpart-weatherinfo-detail .city {
    font-size: 28px;
  }
  .leftpart-weatherinfo-detail .city::first-letter {
    font-size: 2em;
  }
  .leftpart-weatherinfo-detail .temperature {
    font-size: 28px;
  }
  .leftpart-weatherinfo-detail .weather-condition {
    font-size: 20px;
  }

  .search-history {
    display: none;
  }
}
@media (max-width: 1000px) {
  .right-section-title {
    font-size: 33px;
  }
  .city-field {
    font-size: 22px;
  }
  .search-button,
  .bottom-searchsection {
    font-size: 19px;
  }
}
.containerStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.imageStyle {
  max-width: 100%;
  max-height: 100%;
}
